<header class="header">
  <h1>Music Playlists App</h1>
  <nav class="navbar">
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a routerLink="/music" routerLinkActive="active">Music</a>
      </li>
      <li>
        <a routerLink="/user-playlist" routerLinkActive="active">My Playlist</a>
      </li>
    </ul>
  </nav>
</header>
