<section class="container">
  <div class="user-playlists">
    <ul>
      <li>Playlist</li>
      <li>Playlist</li>
      <li>Playlist</li>
      <li>Playlist</li>
      <li>Playlist</li>
      <li>Playlist</li>
    </ul>
  </div>
  <div class="playlist-details">
    <ul>
      <li>song</li>
      <li>song</li>
      <li>song</li>
      <li>song</li>
      <li>song</li>
      <li>song</li>
      <li>song</li>
      <li>song</li>
      <li>song</li>
      <li>song</li>
    </ul>
  </div>
</section>
